// app global css
@import url('https://fonts.googleapis.com/css?family=Manjari&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+39+Extended+Text&display=swap');


.bg-separatorFire
  background-color: #404854

.text-blueGreyfire
  color: #b4bcc2

.bangHoverRemover:hover 
  background-color:none !important

.bg-secondaryTrans 
  background-color: #22384ba1

.bg-secondaryTransSeparator
  background-color: #2a4865
  
.bg-fireColor
  background-color: #ffcb2b

.text-fireColor
  color: #ffcb2b
  
.navNachos 
  background-color: #051e34 !important
  background-image: url('~assets/nav_nachos@2x.png')
  background-position: left 0 bottom 0
  background-repeat: no-repeat
  -webkit-background-size: 256px 556px
  background-size: 256px 556px
// 

.editActiveHover:hover {
  color: #f2c037;
}
.deleteActiveHover:hover {
  color: #d32f2f;
}
.viewActiveHover:hover {
  color: #1a73e8 !improtant;
}